<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="css/custom-layout.css" />
</head>
<body>
    <div class="border">
        @RenderBody()
    </div>
</body>
</html>